*{
    
    margin: 20px;
    
}

.header {
    background-color: #1F2937;
}

.navigation-container{
    display: flex;
    justify-content: space-between;
    color:#F9FAF8 ;
}

.logo{
    font-size: 24px;
    
}


.navigation {
    display: flex;
    
    
    
    
}

.navigation li{
    list-style:none ;
}

.navigation li a{
    color:#F9FAF8 ;
    text-decoration: none;
}



.header-container {
    display: flex;
}

.header-container a{
    color:#F9FAF8
    
}

.text{
    color: #F9FAF8;
    
}

.text h1{
    font-size: 48px;
}

.text a{
    text-decoration: none;
    padding: 3px;
    border: 1px solid #3882F6;
    background-color: #3882F6;
}

.main h1{
    font-size: 36px;
    color: #1F2937;
}

.image-row {
    display: flex;
    
}

.container-quote{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    background-color: #E5E7EB;
}

.container-quote h2{
    margin-left: auto;
    
}



.container-action {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left; /* Align text to the left within the container */
    padding-top: 20px;
    max-width: 600px; /* Set your desired max-width */
    margin: 0 auto; /* Center the container horizontally */
    
    
}

.container-action .call{
    margin: auto;
}

.content {
    flex: 1; /* Allow content to take remaining space */
}


.container-action h4,
.container-action p {
    margin: 0; /* Remove default margin to reduce space */
    
}

.container-action .button {
    margin-left: auto; /* Move the button to the right */
    border: 1px solid;
    
    
}
.container-action .button a{
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 3px;
}