*{
    margin: 20px;
    
}

.navigation-container{
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    
    
}


.header-container {
    display: flex;
}

.image-row {
    display: flex;
}