*{
    border: 1px solid red;
    margin: 20px;
    
}

.header {
    background-color: #1F2937;
}

.navigation-container{
    display: flex;
    justify-content: space-between;
    color:#F9FAF8 ;
}

.navigation {
    display: flex;
    
    
    
    
}



.header-container {
    display: flex;
}

.text{
    color: #F9FAF8;
}

.image-row {
    display: flex;
}

.container-quote{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.container-quote h2{
    margin-left: auto;
    
}